requirements.txt
Governance_total.xlsx
downloaded.csv
Governance_dataset.xlsx
Governance_dataset_Arab.xlsx
indicators_TC360.xlsx
ISPAR_AGGREGATED.xlsx
ISPAR_dataset.xlsx
TC360_dataset.xlsx
TCdata360_all indicators.xlsx
WB governance.xlsx
Countries.xlsx
Governance_total.xlsx
